body{
	background:#b9d7ae;
}

.task-playback{
	background-color: #cac38d;
	position: relative;
	padding: 5px;
	border: 4px solid black;
	display: inline-block;
}

.task-playback.selected{
	background-color: #8da5ca;
}

.task-playback.playing{
	background-color:  #8ac89c ;
	border-color: green;
}

.task-playback.playing.selected{
	background-color: #8da5ca;
	border-color: green;
}

.heading{
	font-family: anton;
	padding-left: 50px;
	border-bottom: 2px solid black;
	margin-bottom:4px;
}

.task-title{
	font-size:1em;
	font-family: anton;
	border-bottom: 1px solid black;
}

.play_progress{
	width: 75%;
	margin: auto;
	position: relative;
}

.play_button{
	position: absolute;
}

.lt-input{
	width: 30%;
}

button.play_button{
	background: none;
	border: none;
}

button.play_button.isLooping{
	color: green;
}

.pb_container{
	margin: auto;
}

.gain_range{
	width: 80%;
}


audio{
	display: none;
}

h1{
	width:25%;
	display:inline-block;
	margin-bottom:0;
	margin-top:5px;
}

.info{
	display:inline-block;
	font-size: 1em;
}