body{
	background:#b9d7ae;
}


.task-playback{
	position: relative;
	padding: 5px;
	margin: 10px;
	width: 190px;
	height: 250px;
	border: 4px solid black;
	display: inline-block;
}

.task-playback.selected{
	background-color: #8dcab3;
}

.heading{
	font-family: anton;
	padding-left: 50px;
	border-bottom: 2px solid black;
}

.task-title{
	height: 3em;
	font-family: anton;
	border-bottom: 1px solid black;
}

.play_progress{
	width: 80%;
	margin: auto;
	position: relative;
}

.play_button{
	position: absolute;
}

.lt-input{
	width: 30%;
}

button.play_button{
	background: none;
	border: none;
}

button.play_button.isLooping{
	color: green;
}

.pb_container{
	margin: auto;
}

.gain_range{
	width: 80%;
}


audio{
	display: none;
}

h1{
	width:15%;
	display:inline-block;
}

.info{
	display:inline-block;
	font-size: 1em;
}