<html>
	<head>
		<title>GenRep</title>
		<link rel="Stylesheet" href={{style_link}}>

		<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@300&display=swap" rel="stylesheet"> 

	</head>
	<body stage={{ stage }}>
		<div class="heading">
			<h1>GenRep Task Authoring Interface</h1>
			<a id="home_link" href="/"> Home </a>
		</div>

		<ul id="AuthoringGroups">
				<new-group-author></new-group-author>
				<hr>
				<author-group-interface
				 v-for="item in grouplist"
				 v-bind:group='item'
				 v-bind:key="item.id">
				 	
				 </author-group-interface>
		</ul>
		
	</body>
	<script src={{vue_link}}></script>
	<script src={{js_link}}></script>
</html>
