<html>
	<head>
		<title>GenRep</title>
		<link rel="Stylesheet" href={{style_link}}>

		<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="heading">
			<h1>GenRep Upload Interface</h1>
		</div>
		
		<div id="recording-tasks">
			<ul class="tasks">
				<rec-task
				 v-for="item in tasklist"
				 v-bind:task='item'
				 v-bind:key="item.id"></rec-task>
			</ul>
		</div>
	</body>
	<script src={{vue_link}}></script>
	<script src={{js_link}}></script>
</html>
