.main{
	margin: 10px;
	padding: 10px;
	background-color: grey;
	
}

h1{
	margin-left: 10px;
}

h2{
	
	margin-top: 10px;
	margin-bottom: 10px;
}

thead{
	font-weight: bold
}

#upload_spinner{
	margin-left: 20px;
	display: inline-block;
}