body{
	background: #6cb398;
	font-family: 'Anton', sans-serif;
}

.main{
	margin: 10px;
	padding: 10px;
	background-color: grey;
	
}

.heading{
	margin: auto;
	width: 95%;
}

h1{
	margin-left: 10px;
	font-weight: normal;
}	

h2{
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

h2.author{
	display: block;
}

thead{
	font-weight: bold
}

ul{
	padding: 0px;
}

#upload_spinner{
	margin-left: 20px;
	display: inline-block;
}

.recording-task{
	width: 95%;
	
	background-color: #e8b688;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
}

.task-group{
	width: 95%;
	background-color: #e8b688;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
}

.task-btn{
	position: relative;
	width: 100%;
	margin-bottom: 2px;
	font-size: 2em;
	text-align: center;
	font-family: sans-serif;
	border: 1px solid black;
	padding: 0px;

}

.task-description{
	font-family: 'Assistant', sans-serif;
	margin-bottom: 10px;
}

.task-rectime{
	float: right;
}

.progress{
	width: 0%;
	height: 100%;
	position: absolute;
	z-index: 1;

}



.progress.rec-bar{
	background-color: red;
}
.progress.play-bar{
	background-color: green;
}

.btn-text{
	position: relative;
	z-index: 2;
}


.author-interface{
	background-color: #e8b688;
	width: 95%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
}

.group-author-interface{
	background-color: #e8b688;
	width: 95%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;

}

.task-author{
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

input{
	display: block;
}
textarea{
	display: block;
}
input{
	display: block;
}